<div class="container responsive min-h-100 pt-4">
  <div class="nav nav-tabs tabs-trip mx-2 mb-4 rounded-4 p-0 row justify-content-between" id="myTab" role="tablist">

    <div class="col-4 nav-item" role="presentation">
      <button class="nav-link active" id="trip-users-tab" data-bs-toggle="tab" data-bs-target="#trip-users-tab-pane" type="button" role="tab" aria-controls="trip-users-tab-pane" aria-selected="true"><i class="fa-solid fa-users"></i></button>
    </div>

    <div class="col-4 nav-item" role="presentation">
      <button class="nav-link" id="manage-tab" data-bs-toggle="tab" data-bs-target="#manage-tab-pane" type="button" role="tab" aria-controls="manage-tab-pane" aria-selected="false"><i class="fa-solid fa-gears"></i></button>
    </div>

    <div class="col-4 nav-item" role="presentation">
      <button class="nav-link" id="invite-tab" data-bs-toggle="tab" data-bs-target="#invite-tab-pane" type="button" role="tab" aria-controls="invite-tab-pane" aria-selected="false">
        <i class="fa-solid fa-user-plus"></i>
      </button>
    </div>
  </div>

  <div class="tab-content px-2" id="myTabContent">

    <div class="tab-pane fade show active" id="trip-users-tab-pane" role="tabpanel" aria-labelledby="trip-users-tab" tabindex="0">
    <h1 class="text-center fs-2 py-2">Amigos of my trip</h1>
      <% @trip.users.each do |user| %>
        <% if user != current_user %>
          <div class="container p-2 my-3 shadow rounded-3 bg-white">
            <div class="row p-1 centered-box">
              <div class="col-4 col-md-2">
                <%= cl_image_tag user.photo.key, height:100, class:"rounded-3 obj-fit" %>
              </div>
              <div class="col-8 col-md-10">
                <p class="m-0 fw-bold"><%= user.first_name %> <%= user.last_name %></p>
                <p class="m-0"><%= user.email %></p>
                <p class="m-0"><%= Participation.where(user_id: user.id).count %> activities in common</p>
                <p class="m-0">
                  <% if current_user.wallet.account(user) < 0 %>
                    😱 You owe this amigo
                  <% elsif current_user.wallet.account(user) == 0 %>
                    👍🏼 Amigo Balances 
                  <% else %>
                    😎 This amigo owes you
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="manage-tab-pane" role="tabpanel" aria-labelledby="manage-tab" tabindex="0">
      <%= render 'form', trip: @trip %>
    </div>

    <div class="tab-pane fade" id="invite-tab-pane" role="tabpanel" aria-labelledby="invite-tab" tabindex="0">
      <%= render "pages/invite", trip: @trip%>
    </div>
  </div>
</div>
