<h1>Welcome, <%= current_user.first_name %> !</h1>
<h3><%= @trip.destination %></h3>
<p><%= @trip.start_date %> - <%= @trip.end_date %></p>
<p><%= @trip.users.count %> Amigos</p>
<h3>Activities:</h3>
      <ul>
        <% @trip.activities.each do |activity| %>
          <li><%= link_to activity.title, activity_path(activity) %></li>
        <% end %>
      </ul>
    <h3>Participants:</h3>
      <div class="row">
      <% @trip.users.each do |user| %>
        <div class="col-2">
        <%= cl_image_tag user.photo.key, class:"avatar-md" %>
        <%= user.first_name %>
        </div>
      <% end %>
      </div>  