<div class="h-100 px-3 pt-4">
  <div class="container responsive rounded-4 trip-card">
    <div class="row justify-content-between align-items-end border-bottom border-white pb-2">
      <div class="col p-0">
        <img src="https://res.cloudinary.com/laura-latuillerie/image/upload/v1662627064/amigo-logo_iagptt.svg" id="logo">
      </div>
      <div class="col p-0 text-end">
        <h6 class="m-0 text-white">Hello, <%= current_user.first_name%></h6>
      </div>
    </div>
    <div class="row mt-2 px-2 
    pb-4 rounded-4 text-white">
      <div class="col-4">
        <div class="centered-box flex-column rounded-4" data-controller="weather">
          <img src="" alt="Weather Icon" data-weather-target="img" height=70 class="">
          <p class="fs-4 fw-bold" data-weather-target="temp"></p>
        </div>
      </div>
      <div class="col-8 d-flex justify-content-center flex-column rounded-4 p-2">
        <h4 class=""><strong><%= @trip.destination %></strong></h4>
        <h6 class="mb-2"><%= @trip.start_date.strftime("%d %b") %> - <%= @trip.end_date.strftime("%d %b %Y") %>
        </h6>
        <div class="d-flex">
          <h5 class="d-block rounded-4 px-3 py-1 border border-white me-1 fw-normal"><i class="fa-solid fa-users text-blue"></i> <%= @trip.users.count %></h5>
          <h5 class="d-block rounded-4 px-3 py-1 border border-white fw-normal"><i class="fa-solid fa-hiking text-blue"></i> <%= @trip.activities.count %></h5>
        </div>
      </div>
    </div>
    <div class="row justify-content-center trip-card-avatars">
      <div class="col p-0">
        <ul class="text-center">
          <% @trip.users.each do |user| %>
            <li><%= cl_image_tag user.photo.key, class:"avatar-sm" %></li>
          <% end %>
          <li class="bg-white">
            <%= link_to trip_invite_path(@trip) do %>
              <%= image_tag 'icons/plus-icon.png', class:"invite-friend" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% if @trip.participates?(current_user) %>
    <div class="container trip-buttons-box">
      <div class="row centered-box text-center">
        <div class="col-6 d-flex justify-content-end mb-2">
          <div class="main-btn d-flex justify-content-center align-items-center rounded-4 my-2">
            <%= link_to trip_activities_path(@trip) do %>
            <!--
            <div class="opacity-80">
              <%= image_tag 'icons/banana-boat.png', height:50 %>
            </div>
            -->
            <h2 class="fs-1">
              <i class="fa-solid fa-person-hiking"></i>
            </h2>
            <p class="mt-2 mb-0 ">Activities</p>
            <% end %>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-start mb-2 ">
          <div class="main-btn centered-box rounded-4 my-2">
            <%= link_to trip_random_wheel_path(@trip), data: {turbo: false} do %>
              <i class="fa-solid fa-dice"></i>
              <!--
              <%= image_tag 'icons/fortune-wheel.png', height:50 %>
              -->
              <p class="mt-2 mb-0 ">AmigoFortune</p>
              
            <% end %>
          </div>
        </div>
        <div class="col-6  d-flex justify-content-end mt-2 mb-2 ">
          <div class="main-btn centered-box rounded-4">
            <%= link_to trip_board_path(@trip) do %>
              <!--
              <%= image_tag 'icons/passeport.png', height:50%>
              -->
              <i class="fa-solid fa-passport"></i>
              <p class="mt-2 mb-0 ">My Trip</p>
            <% end %>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-start mt-2  mb-2 ">
          <div class="main-btn centered-box rounded-4">
            <%= link_to trip_wallet_path(@trip, UserTrip.find_by_user_id(current_user.id).wallet) do %>
              <!--
              <%= image_tag 'icons/piggy-bank.png', height:50 %>
              -->
              <i class="fa-solid fa-piggy-bank"></i>
              <p class="mt-2 mb-0 ">AmigoBank</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="centered-box flex-column text-center mt-5">
    <h2>Hello, <%= current_user.first_name%> !</h2>
      <p class="fw-normal">You were invited to join this trip<br>
      <strong>Join your amigos ! 😎</strong></p>
      <%= button_to "Participate", trip_user_trips_path(user_id: current_user.id, trip_id: params[:id]), method: :post, class:"btn btn-blue mt-3"  %>
    </div>
  <% end %>
</div>
