<div class="bg-gradient-general px-3 pt-4">
  <div class="container responsive mt-4 px-2 pt-4 pb-4 rounded-4 trip-card position-relative mb-5 bg-transparent">
    <div class="row px-2">
      <div class="col-4">
        <div class="centered-box flex-column" data-controller="weather">
          <img src="" alt="Weather Icon" data-weather-target="img" height=70 class="">
          <p class="fs-4 fw-bold" data-weather-target="temp"></p>

        </div>
      </div>
      <div class="col-8 d-flex justify-content-center flex-column rounded-4 p-2">
        <h4 class=""><strong><%= @trip.destination %></strong></h4>
        <h6 class="mb-2"><%= @trip.start_date.strftime("%d %b") %> - <%= @trip.end_date.strftime("%d %b %Y") %>
        </h6>
        <div class="d-flex">
          <h5 class="fw-bold d-block rounded-4 px-3 py-1"><i class="fa-solid fa-users"></i> <%= @trip.users.count %></h5>
          <h5 class="fw-bold d-block rounded-4 px-3 py-1"> <%= image_tag 'icons/hiking.png', height: 30 %><%= @trip.activities.count %></h5>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-3 pt-2 justify-content-center position-absolute trip-card-avatars">
      <% @trip.users.each do |user| %>
        <div class="col-2">
        <%= cl_image_tag user.photo.key, class:"avatar-sm overflow-visible" %>
        </div>
      <% end %>
        <div class="col-2">
          <div class="avatar-sm centered-box">
            <p class="fs-1 p-0 m-0 text-blue">
             <%= link_to trip_invite_path(@trip), class: "dropdown-item" do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
            </p>
          </div>
         </div>
        <div class="col-1">
        </div>
      </div>
  </div>
  <% if @trip.participates?(current_user) %>
    <div class="container mt-3 pt-2 trip-buttons-box">
      <div class="row centered-box text-center">
        <div class="col-6 centered-box ps-0">
          <div class="main-btn d-flex justify-content-center align-items-center rounded-4 my-2">
            <%= link_to trip_activities_path(@trip) do %>
            <div class="opacity-80">
              <!-- <%= image_tag 'icons/hiking.png', height:50 %> -->
            </div>
            <i class="fa-solid fa-person-hiking icon-size"></i>
            <p class="mt-2 mb-0 ">Activities</p>
            <% end %>
          </div>
        </div>
        <div class="col-6 centered-box pe-0">
          <div class="main-btn centered-box rounded-4 my-2">
            <%= link_to trip_random_wheel_path(@trip), data: {turbo: false} do %>
              <i class="fa-solid fa-dice icon-size"></i>
              <p class="mt-2 mb-0 ">AmigoFortune</p>
            <% end %>
          </div>
        </div>
        <div class="col-6 centered-box ps-0 mt-2">
          <div class="main-btn centered-box rounded-4">
            <%= link_to trip_board_path(@trip) do %>
              <%= image_tag 'icons/backpack.png', height:50%>
              <p class="mt-2 mb-0 ">My Trip</p>
            <% end %>
          </div>
        </div>
        <div class="col-6 centered-box pe-0 mt-2">
          <div class="main-btn centered-box rounded-4">
            <%= link_to trip_wallet_path(@trip, UserTrip.find_by_user_id(current_user.id).wallet) do %>
              <%= image_tag 'icons/transaction.png', height:50 %>
              <p class="mt-2 mb-0 ">AmigoBank</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="centered-box flex-column">
      You were invited to join this trip.
      <%= button_to "Participate", trip_user_trips_path(user_id: current_user.id, trip_id: params[:id]), method: :post, class:"btn btn-success text-light me-1"  %>
    </div>
  <% end %>
</div>
