<nav class="navbar navbar-expand bg-light px-3">
  <div class="container-fluid justify-content-center">
      <ul class="navbar-nav w-100 justify-content-between py-0">
        <li class="nav-item d-inline-block">
          <% if !@trip.nil? && !@trip.id.nil? %>
            <%= link_to trip_path(@trip), class: "nav-link" do %>
              <%= image_tag("icons/home-icon.svg", height: '32', width: '32') %>
            <% end %>
          <% else %>
            <%= link_to root_path, class: "nav-link" do %>
              <%= image_tag("icons/home-icon.svg", height: '32', width: '32') %>
            <% end %>
          <% end %>
        </li>
        <% if user_signed_in? %>

          <% if !@trip.nil? && !@trip.id.nil? %>
            <li class="nav-item d-inline-block">
              <%= link_to trip_rooms_path(@trip), class:"nav-link" do  %>
                  <%= image_tag("icons/chat-icon.svg", height: '36', width: 'auto') %>
                  <%= UserMessage.display_unread(current_user.id) %>
              <% end %>
            </li>

            <li class="nav-item d-inline-block position-relative">
              <%= link_to trip_notifications_path(@trip), class:"nav-link" do  %>
                <%= image_tag("icons/notification-icon.svg", height: '32', width: 'auto') %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <%= UserNotification.display_unread(current_user.id) %>
                <span class="visually-hidden">unread messages</span>
                <% </span> %>
              <% end %>
            </li>
          <% end %>

          <li class="nav-item d-inline-block">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-link" do %>
              <%= image_tag("icons/logout-icon.svg", height: '32', width: 'auto') %>
            <% end %>
          </li>
      <% else %>
        <li class="nav-item d-inline-block ">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
