<nav class="navbar navbar-expand bg-light">
  <div class="container-fluid justify-content-center">
      <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item d-inline-block">
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa-solid fa-house"></i>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <% if @trip %>
            <li class="nav-item d-inline-block">
              <%= link_to trip_rooms_path(@trip), class:"nav-link" do  %>
                <i class="fa-solid fa-message"></i>
              <% end %>
            </li>
            <li class="nav-item d-inline-block">
              <%= link_to trip_path(@trip), class:"nav-link" do  %>
                <i class="fa-solid fa-bell"></i>
              <% end %>
            </li>
          <% end %>
  
         <li class="nav-item  d-inline-block dropdown">
          <a class="nav-link" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-user-group"></i></a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if @trip %>
              <%= link_to "Invite a friend", trip_invite_path(@trip), class: "dropdown-item" %>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item d-inline-block ">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>