<nav class="navbar navbar-expand px-3">
  <div class="container-fluid justify-content-center">
      <ul class="navbar-nav w-100 justify-content-between py-0">
        <li class="nav-item d-inline-block">
          <% if !@trip.nil? && !@trip.id.nil? %>
            <%= link_to trip_path(@trip), class: "nav-link" do %>
              <%= image_tag("icons/home-icon.svg", height: '32', width: '32') %>
            <% end %>
            </li>
            <li class="nav-item d-inline-block">
              <%= link_to trips_path, class: "nav-link" do %>
                <%= image_tag("icons/plane-icon.svg", height: '32', width: '32') %>
              <% end %>
            </li>
          <% else %>
            <%= link_to root_path, class: "nav-link" do %>
              <%= image_tag("icons/home-icon.svg", height: '32', width: '32') %>
            <% end %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <% if !@trip.nil? && !@trip.id.nil? %>
            <li class="nav-item d-inline-block">
              <%= link_to trip_rooms_path(@trip), class:"nav-link" do  %>
                  <%= image_tag("icons/chat-icon.svg", height: '36', width: 'auto') %>
                  <% if UserMessage.display_unread(current_user.id) > 0 %>
                     <span class="position-absolute top-25 start-30 translate-middle badge rounded-pill bg-danger fs-6">
                    <%= UserMessage.display_unread(current_user.id) %>
                    <span class="visually-hidden">unread messages</span>
                    </span>
                  <% end %>
              <% end %>
            </li>

            <li class="nav-item d-inline-block">
              <%= link_to trip_notifications_path(@trip), class:"nav-link position-relative" do  %>
                <%= image_tag("icons/notification-icon.svg", height: '32', width: 'auto') %>
                <% if UserNotification.display_unread(current_user.id) > 0 %>
                  <span class="position-absolute top-25 start-90 translate-middle badge rounded-pill bg-danger fs-6">
                  <%= UserNotification.display_unread(current_user.id) %>
                  <span class="visually-hidden">unread notifications</span>
                  </span>
                <% end %>
              <% end %>
            </li>
          <% end %>

          <li class="nav-item d-inline-block">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-link" do %>
              <%= image_tag("icons/logout-icon.svg", height: '35', width: 'auto') %>
            <% end %>
          </li>
      <% else %>
        <li class="nav-item d-inline-block ">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
