<div class="row pe-2 py-2 my-3 bg-white shadow rounded-3">
  <div class="col-3">
    <%= cl_image_tag User.find(bill.user_id).photo.key, class:"rounded-3 obj-fit", height:70, width:70 %>
  </div>
  <div class="col-9 ps-2 d-flex justify-content-between align-items-center">
    <% if !bill.credit.zero? %>
      <h6 class="text-success">I lent <strong><%= bill.credit %>$</strong> to <%= bill.user.first_name %></h6>
      
    <% end %>
    <% if !bill.debit.zero? %>
      <h6 class="text-danger">I owe <strong><%= bill.debit %>$</strong> to <%= bill.user.first_name %></h6>
    <% end %>

  </div>
</div>