<div class="bg-gradient-general h-100" data-controller="random-wheel">
  <div class="container responsive h-100 text-center flex-column centered-box">
    <h1 data-random-wheel-target="intro" class="pb-3 text-light fs-2 fw-bold">Pick randomly an amigo !</h1>
    <div class="row centered-box mt-2">
      <div class="col d-flex flex-column centered-box text-center">
        <img src="https://res.cloudinary.com/laura-latuillerie/image/upload/v1662644761/wheel_ckwq8v.png" class="fortune-wheel mb-3" data-random-wheel-target="wheel">

        <div id="carouselExampleInterval" class="carousel slide d-none mb-5" data-bs-ride="carousel" data-random-wheel-target="carousel">
          <div class="carousel-inner" data-random-wheel-target="users">
            <% @users.each do |user| %>
            <% if user.id == User.first.id  %>
              <div class="carousel-item active" data-bs-interval="100">
            <% else %>
              <div class="carousel-item" data-bs-interval="100">
            <% end %>
                <%= cl_image_tag user.photo.key, class:"avatar-lg" %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="d-none my-3" id="result" data-random-wheel-target="result">
          <%= cl_image_tag @user.photo.key, class:"avatar-lg" %>
          <div>
            <h2 class="mt-4">🥳😱😢</h2>
            <h3 class="m-0"><%= @user.first_name %></h3>
            <p>will spend money tonight ! 💸</p>
          </div>
        </div>

        <%= link_to "Start", trip_random_wheel_path(@trip), class:"btn btn-blue mt-2 mb-5", data: {random_wheel_target: "randomize", action: "click->random-wheel#spin"} %>

        <%= link_to "Spin again", trip_random_wheel_path(@trip), class:"btn btn-blue d-none mb-5", data: {random_wheel_target: "restart", action:"click->random-wheel#restart"} %>

      </div>
    </div>
  </div>
</div>
