<div class="container vh-100 form-box">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-10">
      <h1 class="text-center text-white fs-1 pb-2">Log in</h1>
      <div class="mb-3">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }, class:"mb-4") do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class:"btn btn-blue" %>
          </div>
        <% end %>
      </div>
    <%= render "devise/shared/links", class:"text-blue" %>
    </div>
  </div>
</div>
