<div class="container responsive h-100">
  <div class="row justify-content-center">
  <div class="col">
      <ul class="nav nav-chatroom nav-pills rounded-4 mt-3" id="pills-tab" role="tablist">
        <% @rooms.each do |room| %>
          <li class="nav-item <% if room.name.capitalize == "General" %>active<% end %>" role="presentation">
            <button class="nav-link <% if room.name.capitalize == "General" %>active<% end %>" id="pills-<%= room.name.downcase %>-tab" data-bs-toggle="pill" data-bs-target="#pills-<%= room.name.downcase %>" type="button" role="tab" aria-controls="pills-<%= room.name.downcase %>" aria-selected="true"><%= room.name.capitalize %></button>
          </li>
        <% end %>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <% @rooms.each do |room| %>
        <div class="tab-pane fade <% if room.name == "General" %>show active<% end %>" id="pills-<%= room.name.downcase %>" role="tabpanel" aria-labelledby="pills-<%= room.name.downcase %>-tab" tabindex="0">
          <div class="container chatroom rounded-4"
          data-controller="chatroom-subscription"
          data-chatroom-subscription-chatroom-id-value="<%= room.id %>">
            <div class="messages mb-3 pt-2" data-chatroom-subscription-target="messages">
              <% room.messages.each do |message| %>
                <%= render "messages/message", message: message %>
              <% end %>
            </div>
            <%= render "form", trip: @trip, room: room %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
